#canvas1 {
    background-color: white;
    margin-top: 150px;
}

form {
    background-color: white;
    margin-bottom: 20px;
}

#explication {
    position: absolute;
    width: 800px;
    display: block;
    background-color: white;
}

.piedDePage {
    top: 400px;
}